<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="row">
			<div class="span6 offset1">
				<h1>FLAMINGO VINTAGE</h1>
			</div>
		</div>
		<div class="row">
			<div class="span9 offset1">
				<h2><%= link_to 'Blog'  , posts_path %></h2>
				<h2><%= link_to 'Events' , events_path %></h2>
				<h2><%= link_to 'Shop'   , products_path %></h2>
				<h2><%= link_to 'About'  , about_path %></h2>
				<h2><%= link_to 'Contact', contact_path %></h2>
			</div>
		</div>
	</div>
</nav>