<div class="row">
	<div class="span9">
		<h1 style="text-align:center">Events</h1>
		<div id="calendar">
			<%= calendar(:year => Date.today.year, :month => Date.today.month, :first_day_of_week => 1) do |d| 
				if @event_days[d]
					["#{d.mday} \n #{link_to @event_days[d].name, event_path(@event_days[d])}", {:class => "specialDay"}]
				else
					[d.mday, {:class => "normalDay"}]
				end
			end %>
		</div>
		<%= link_to 'New Event', new_event_path %>
		<% @events.each do |event| %>
			<div class="event" id="<%= dom_id(event) %>">
				<h2><%= link_to event.name, event_path(event) %></h2>
				<p class="event_time"><%= event.time %></p>
			</div>
		<% end %>
	</div>
	<div class="span3">
		<%= render 'shared/sidebar' %>
	</div>
</div>

<script>
	// $(document).ready(function(){
	// 	$('#calendar .specialDay').popover(
	// 			data-content: "this is content",
	// 			data-trigget: "hover"
	// 		);
	// });
</script>