<h1>Bloggin' It</h1>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
	<div class="post" id="<%= dom_id(post) %>">
		<h2><%= post.title %></h2>
		<p><%= post.body.slice(0,500) + 
				(post.body.length > 500 ? '...' : '') %></p>
		<%= link_to 'Read more', post_path(post) %>
	</div>
<% end %>